body{
            
    text-align: center;
    margin-top:200px;
    background-image:url(https://img.rawpixel.com/private/static/images/website/2022-05/rm428-0054_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ec30c49d2beddd242748e2329f9d0549);
    background-repeat:no-repeat;
    background-size:cover;

}


